In [109]:
import xml.etree.ElementTree as ET
from bs4 import BeautifulSoup
import pandas as pd

## Data Extraction

data sources
- [Yield Rate](https://www.treasury.gov/resource-center/data-chart-center/interest-rates/Pages/TextView.aspx?data=yieldAll)
- [Dow HIstorical Rates](https://finance.yahoo.com/quote/%5EDJI/history?period1=694310400&period2=1616630400&interval=1d&filter=history&frequency=1d&includeAdjustedClose=true)

In [110]:
ls raw_data/

DailyTreasuryYieldCurveRateData*
DailyTreasuryYieldCurveRateData.xsd/
DowJonesIndustrialAverage-YahooFinance.html*

### Treasury Yield Rate

In [111]:
xml_file = 'raw_data/DailyTreasuryYieldCurveRateData'

In [112]:
ns = {
    'd':"http://schemas.microsoft.com/ado/2007/08/dataservices",
    'm':"http://schemas.microsoft.com/ado/2007/08/dataservices/metadata", 
    'base':"http://www.w3.org/2005/Atom"
}

In [113]:
tree = ET.parse(xml_file)
root = tree.getroot()

In [128]:
data = {
    'date':[],
    '1_month':[],
    '2_month':[],
    '3_month':[],
    '6_month':[],
    '1_year':[],
    '2_year':[],
    '3_year':[],
    '5_year':[],
    '7_year':[],
    '10_year':[],
    '20_year':[],
    '30_year':[],
    '30_year_display':[],
}

In [141]:
for entry in root.iterfind('./base:entry/base:content/',ns):
    
    data['date'   ].append(entry.find('./d:NEW_DATE',ns).text)
    data['1_month'].append(entry.find('./d:BC_1MONTH',ns).text)
    data['2_month'].append(entry.find('./d:BC_2MONTH',ns).text)
    data['3_month'].append(entry.find('./d:BC_3MONTH',ns).text)
    data['6_month'].append(entry.find('./d:BC_6MONTH',ns).text)
    data['1_year' ].append(entry.find('./d:BC_1YEAR',ns).text)
    data['2_year' ].append(entry.find('./d:BC_2YEAR',ns).text)
    data['3_year' ].append(entry.find('./d:BC_3YEAR',ns).text)
    data['5_year' ].append(entry.find('./d:BC_5YEAR',ns).text)
    data['7_year' ].append(entry.find('./d:BC_7YEAR',ns).text)
    data['10_year'].append(entry.find('./d:BC_10YEAR',ns).text)
    data['20_year'].append(entry.find('./d:BC_20YEAR',ns).text)
    data['30_year'].append(entry.find('./d:BC_30YEAR',ns).text)
    data['30_year_display'].append(entry.find('./d:BC_30YEARDISPLAY',ns).text)

#     print()

In [142]:
len(data['date'])

15630

In [143]:
df = pd.DataFrame(data)
df.head()

,date,1_month,2_month,3_month,6_month,1_year,2_year,3_year,5_year,7_year,10_year,20_year,30_year,30_year_display
0,1997-01-02T00:00:00,None,None,5.190000057220459,5.3499999046325684,5.630000114440918,5.96999979019165,6.130000114440918,6.3000001907348633,6.4499998092651367,6.5399999618530273,6.8499999046325684,6.75,0
1,1996-12-31T00:00:00,None,None,5.2100000381469727,5.3299999237060547,5.5100002288818359,5.880000114440918,6.0399999618530273,6.2100000381469727,6.3400001525878906,6.429999828338623,6.7300000190734863,6.6500000953674316,0
2,1997-01-03T00:00:00,None,None,5.1700000762939453,5.3400001525878906,5.5999999046325684,5.9499998092651367,6.1100001335144043,6.28000020980835,6.4200000762939453,6.5199999809265137,6.8400001525878906,6.7399997711181641,0
3,1997-01-07T00:00:00,None,None,5.1599998474121094,5.3000001907348633,5.6100001335144043,5.9800000190734863,6.1399998664855957,6.320000171661377,6.46999979019165,6.570000171661377,6.8899998664855957,6.8000001907348633,0
4,1997-01-06T00:00:00,None,None,5.1700000762939453,5.309999942779541,5.6100001335144043,5.96999979019165,6.119999885559082,6.3000001907348633,6.440000057220459,6.5399999618530273,6.8600001335144043,6.7699999809265137,0

In [144]:
format = '%Y-%m-%d'
df['date'] = pd.to_datetime(df['date'], format=format)
df = df.set_index(pd.DatetimeIndex(df['date']))
df = df.drop(['date'], axis=1)

df.sort_values(by='date', inplace=True, ascending=False)

In [145]:
df.head()

,1_month,2_month,3_month,6_month,1_year,2_year,3_year,5_year,7_year,10_year,20_year,30_year,30_year_display
date,,,,,,,,,,,,,
2021-03-25,0.02,0.03,0.02,0.04,0.07,0.14,0.3,0.82,1.29,1.63,2.24,2.34,2.34
2021-03-25,0.02,0.03,0.02,0.04,0.07,0.14,0.3,0.82,1.29,1.63,2.24,2.34,2.34
2021-03-24,0.02,0.02,0.02,0.04,0.07,0.14,0.31,0.83,1.27,1.62,2.21,2.31,2.31
2021-03-24,0.02,0.02,0.02,0.04,0.07,0.14,0.31,0.83,1.27,1.62,2.21,2.31,2.31
2021-03-23,0.02,0.02,0.01,0.04,0.08,0.15,0.31,0.83,1.29,1.63,2.24,2.34,2.34

In [146]:
df.to_csv('processed_data/yield_historical.csv')

### Dow Jones Industrial Average Data

In [147]:
ls raw_data/

DailyTreasuryYieldCurveRateData*
DailyTreasuryYieldCurveRateData.xsd/
DowJonesIndustrialAverage-YahooFinance.html*

In [148]:
from lxml import etree
from urllib.request import urlopen

In [149]:
url = 'file:///home/dylan/Projects/stock-yield/raw_data/DowJonesIndustrialAverage-YahooFinance.html'
response = urlopen(url)
htmlparser = etree.HTMLParser()
tree = etree.parse(response, htmlparser)
table = tree.xpath('//table//tbody')[0]
# print(len(table))
# print(table.attrib)
for row in iter(table):
    for col in row.xpath('td//*'):
        print(col.text)
    break

Mar 24, 2021
32,470.88
32,787.99
32,418.15
32,420.06
32,420.06
3,993,900

In [150]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

In [151]:
# You can close the browser after the scrolling is done
browser = webdriver.Firefox()
browser.get(url)
time.sleep(1)

elem = browser.find_element_by_tag_name("body")

no_of_pagedowns = 400

while no_of_pagedowns:
    
    elem.send_keys(Keys.PAGE_DOWN)
    time.sleep(0.2)
    no_of_pagedowns-=1
    
contents = browser.page_source
soup = BeautifulSoup(contents, 'lxml')

In [152]:
# len(soup.select('tbody')[0].select('tr'))

In [153]:
table_head = soup.select('thead')[0]
for col in table_head.select('span'):
    print(col.text)

Date
Open
High
Low
Close*
Adj Close**
Volume

In [191]:
data = {
    'date':[],
    'open':[],
    'high':[],
    'low':[],
    'close':[],
    'adj_close':[],
    'volume':[],
}


table_body = soup.select('tbody')[0]
for row in table_body.select('tr'):
    entry = row.find_all('span')
    data['date'].append(entry[0].text)
    data['open'].append(entry[1].text.replace(',',''))
    data['high'].append(entry[2].text.replace(',',''))
    data['low'].append(entry[3].text.replace(',',''))
    data['close'].append(entry[4].text.replace(',',''))
    data['adj_close'].append(entry[5].text.replace(',',''))
    data['volume'].append(entry[6].text.replace(',',''))
    
#     for entry in row.select('td'):
#         print(entry.text)
#     break

In [192]:
len(data['date'])

7362

In [193]:
df = pd.DataFrame(data)
df.head()

           date      open      high       low     close adj_close   volume
0  Mar 24, 2021  32470.88  32787.99  32418.15  32420.06  32420.06  3993900
1  Mar 23, 2021  32691.50  32753.77  32356.28  32423.15  32423.15  3858400
2  Mar 22, 2021  32601.82  32810.35  32512.53  32731.20  32731.20  3835000
3  Mar 19, 2021  32858.36  32858.36  32505.07  32627.97  32627.97  8118900
4  Mar 18, 2021  32928.16  33227.78  32831.25  32862.30  32862.30  4184800

In [194]:
format = '%b %d, %Y'
df['date'] = pd.to_datetime(df['date'], format=format)
df = df.set_index(pd.DatetimeIndex(df['date']))
df = df.drop(['date'], axis=1)

df.sort_values(by='date', inplace=True, ascending=False)

In [195]:
df = df.astype({'open'     : 'float',
                'high'     : 'float',
                'low'      : 'float',
                'close'    : 'float',
                'adj_close': 'float',
                'volume'   : 'int',}, copy=True )



# pd.to_numeric(df.str.replace(',',''), errors='coerce')

In [196]:
df.dtypes

open         float64
high         float64
low          float64
close        float64
adj_close    float64
volume         int64
dtype: object

In [197]:
df.head()

                open      high       low     close  adj_close   volume
date
2021-03-24  32470.88  32787.99  32418.15  32420.06   32420.06  3993900
2021-03-23  32691.50  32753.77  32356.28  32423.15   32423.15  3858400
2021-03-22  32601.82  32810.35  32512.53  32731.20   32731.20  3835000
2021-03-19  32858.36  32858.36  32505.07  32627.97   32627.97  8118900
2021-03-18  32928.16  33227.78  32831.25  32862.30   32862.30  4184800

In [198]:
ls

data-processing.ipynb*  main.html  processed_data/
geckodriver.log         main.py    raw_data/

In [199]:
df.to_csv('processed_data/djia_historical.csv')

In [200]:
df.index

DatetimeIndex(['2021-03-24', '2021-03-23', '2021-03-22', '2021-03-19',
               '2021-03-18', '2021-03-17', '2021-03-16', '2021-03-15',
               '2021-03-12', '2021-03-11',
               ...
               '1992-01-15', '1992-01-14', '1992-01-13', '1992-01-10',
               '1992-01-09', '1992-01-08', '1992-01-07', '1992-01-06',
               '1992-01-03', '1992-01-02'],
              dtype='datetime64[ns]', name='date', length=7362, freq=None)